.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none;
}

.transition-svg {
  width: 100%;
  height: 100%;
  display: block;
  backface-visibility: hidden;
  transform: translateZ(0);
  contain: strict;
}

.transition-overlay {
  fill: #000;
  will-change: opacity;
}

.castle-hole {
  transform-origin: 50px 50px;
  transform-box: view-box;
  will-change: transform;
}

.castle-shape {
  shape-rendering: geometricPrecision;
}
